{% extends 'admin-base.html' %} {% block content %} {% load static %}
<!-- <link rel="stylesheet" href="/static/team.css" /> -->
<!-- <script src="/static/team.js"></script> -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6"></div>
      </div>
      <div id="errorsign" class="alert-box"></div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <div class="row" style="    justify-content: center;">
        <div class="col-lg-3 col-6">
   
          <!-- <div class="small-box bg-warning" style="color: white !important;">
            <div class="inner">
              <h3>{{members}}</h3>

              <p data-translate="Players">Members</p>
            </div>
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
            <a
              style="color: white !important;"
              href="/tinubushettima2023/adm/members?page=1"
              class="small-box-footer"
            >
              <span data-translate="More info"></span>
              <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>






        <div class="col-lg-3 col-6">
        
          <div class="small-box bg-warning" style="color: white !important;">
            <div class="inner">
              <h3>{{states}}</h3>

              <p data-translate="Players">States</p>
            </div>
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
            <a
              style="color: white !important;"
              href="/tinubushettima2023/adm/states?page=1"
              class="small-box-footer"
            >
              <span data-translate="More info"></span>
              <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
   
      </div>





      <div class="row" style="    justify-content: center;">
        <div class="col-lg-3 col-6">
          
          <div class="small-box bg-warning" style="color: white !important;">
            <div class="inner">
              <h3>{{LGA}}</h3>

              <p data-translate="Players">LGA</p>
            </div>
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
            <a
              style="color: white !important;"
              href="/tinubushettima2023/adm/lga?page=1"
              class="small-box-footer"
            >
              <span data-translate="More info"></span>
              <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>






        <div class="col-lg-3 col-6">
       
          <div class="small-box bg-warning" style="color: white !important;">
            <div class="inner">
              <h3>{{ward}}</h3>

              <p data-translate="Players">Wards</p>
            </div>
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
            <a
              style="color: white !important;"
              href="/tinubushettima2023/adm/wards?page=1"
              class="small-box-footer"
            >
              <span data-translate="More info"></span>
              <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </div> -->







      
      </div>
    </div>

  </div>
</div>

<script></script>
{% endblock %}
